@font-face {
  font-family: telefonia;
  src: url("../fonts/TelefonicaWeb-Light.woff");
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 5.2rem;
}

.navbar_container {
  display: flex;
  align-items: center;
  column-gap: 0.1rem;
  padding-top: 0.2rem;
  font-family: telefonia;
}

.navbar_container img {
  max-width: 16vw;
  margin-left: 6%;
}

.navbar_container nav {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.navbar_container .navbar_options {
  display: flex;
  align-items: center;
  column-gap: 5rem;
  margin-right: auto;
  line-height: 1.2;
  list-style: none;
  text-align: center;
  font-size: 16px;
  color: rgb(105, 103, 103);
}

.navbar_container .navbar_options b {
  margin: 0 11px;
}

.navbar_options .nav_options-select{
  color: rgb(29, 28, 28);
  font-weight: w;
}

.navbar_login {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 16px;
}

.navbar_login .navbar_login-options {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar_login .navbar_login-options li {
  margin: 0 20px;
  font-size: 21px;
}

.navbar_login .navbar_login-options li button {
  border: none;
  color: white;
  padding: 12px;
  font-weight: bold;
  font-size: 0.98rem;
  background: #08acdc;
  font-family: telefonia;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.banner {
  background: url(/assets/Movistar\ -\ bannerprub.webp);
  background-repeat: no-repeat, no-repeat;
  height: 540px;
  width: 98.72vw;
  font-family: telefonia;
  text-align: center;
  flex-direction: column;
  position: relative;
}

.banner .banner_callback {
  position: absolute;
  top: 15rem;
  left: 17rem;
  align-items: center;
}

.banner .banner_callback-Tyc {
  margin-top: 1.6vw;
  margin-left: 6vw;
  color: white;
  font-size: 15px;
}

.banner .banner_callback input[type="submit"] {
  border: none;
  color: white;
  margin: -1%;
  font-weight: bold;
  background-color: #08cc2c;
  height: 49px;
  width: 238px;
  font-family: telefonia;
  font-size: 20px;
}

.banner .banner_callback input[type="text"] {
  border: none;
  margin-right: 0%;
  height: 47px;
  width: 338px;
  font-family: telefonia;
  font-size: 20px;
  padding-left: 30px;
  margin-left: 8vw;
}

.banner .banner_callback input[type="text"]:focus {
  border: none;
  outline: none;
}

.estrella {
  position: absolute;
  top: -1rem;
  left: 46rem;
  width: 12px;
}

.estrella_text {
  position: absolute;
  top: 25%;
  left: 4vw;
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: telefonia;
  font-size: 3rem;
  font-weight: 600;
}

.plan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: telefonia;
}

.plan_info {
  margin-bottom: 3.8rem;
  text-align: center;
  font-size: 2.1rem;
}

.plan_caja {
  display: flex;
  width: 80%;
}

.plan_caja-actual {
  text-align: center;
  padding: 20px;
  margin-right: 10px;
  background: #888484;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: white;
}

.plan_caja-actual .actual-text {
  font-size: 2rem;
  margin-bottom: -12%;
}

.plan_caja-actual .actual-gigas {
  font-size: 3.8rem;
  margin-bottom: 47%;
}

.plan_caja-actual .actual-precio {
  font-size: 2.3rem;
}

.plan_caja-beneficios {
  background: #08acdc;
  text-align: center;
  margin-right: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: white;
}

.beneficios {
  display: flex;
  justify-content: space-around;
}

.plan_caja-beneficios-title {
  text-align: center;
  font-size: 2rem;
  padding: 10px;
}

.plan_caja-beneficiosinfo {
  width: 30%;
}

.plan_caja-beneficios .gigas {
  margin: 20px;
  font-size: 4.5rem;
}

.plan_caja-beneficios .consumo {
  font-size: 1rem;
  margin-bottom: 20px;
}

.plan_caja-beneficios .precio {
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-size: 2rem;
}

.plan_caja-beneficios .incluidos {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.incluidos_minutos {
  border: 1px solid white;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  width: 200px;
}

.incluidos_pantalla {
  border: 1px solid white;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  width: 200px;
  display: flex;
  text-align: justify;
}

.incluidos_play {
  border: 1px solid white;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  width: 200px;
  padding: 10px;
}

.incluidos_napster {
  border: 1px solid white;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  width: 200px;
  display: flex;
  align-content: center;
}

.plan .plan_callback {
  margin-top: 3vw;
}

.plan .plan_callback input[type="submit"] {
  border: none;
  color: white;
  margin: -1%;
  font-weight: bold;
  background-color: #08cc2c;
  height: 49px;
  width: 238px;
  font-family: telefonia;
  font-size: 20px;
}

.plan .plan_callback input[type="text"] {
  border: 1px solid rgb(182, 180, 180);
  margin-right: 0%;
  height: 45px;
  width: 338px;
  font-family: telefonia;
  font-size: 20px;
  padding-left: 30px;
}

.plan_callback input[type="text"]:focus{
  border: 1px solid rgb(182, 180, 180);
  outline: none;

}

.plan .plan_callback-Tyc {
  margin-top: 2vw;
  margin-left: 6vw;
  margin-bottom: 3vw;
  color: black;
  font-size: 15px;
}